label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.coin-icon{
  width: 300px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}


/* .mainContainer {
  display: flex;
  flex-direction: row;
} */

.card{
  text-align: center;
  width: 300px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.card.selected {
  border: 1px solid cadetblue;
  background-color: cadetblue;
  border-radius: 5px
}

.cardsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 10%;
  padding-bottom: 5%;
  padding-top: 5%;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid cadetblue;
  color:dimgray;
}

.buy-form-container{
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  align-items: center;
  padding-bottom: 5%;
  border-radius: 5px;
  border: 1px solid cadetblue;
  margin-top: 5%;
  margin-bottom: 5%;
}